{% extends "layout.html" %}
{% block body %}
    <div class="container mt-3">
        <h3>About</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel corporis, minima harum possimus esse nam consectetur ratione repellendus eveniet saepe assumenda quis, sequi dolorem id facere ipsam, magni illo ipsum enim aut quas fugit quod iure ad! Vero laboriosam mollitia ab rem, tenetur sapiente quia provident eos modi, exercitationem vel fugit eum at. Voluptate recusandae enim nobis, obcaecati praesentium aperiam, distinctio facilis hic amet eos minima, voluptates nostrum qui molestiae voluptas explicabo porro esse provident dicta blanditiis suscipit. Ut architecto, deserunt recusandae libero, amet ipsum quidem placeat minima, molestias sed esse! Rem ad maiores itaque voluptates vel quidem animi? Optio!</p>
    </div>
{% endblock body %}